.share-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 20px;
  }
  
  .share-buttons a {
    display: flex;
    align-items: left;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #00838a;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
  }
  
  .share-buttons a:hover {
    background-color: #333;
  }
  
  .share-buttons i {
    margin-right: 10px;
  }
  